<!doctype html>
<html lang="en">
{% load staticfiles %}


<head>
    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Hola</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'css/base.css' %} ">
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %} ">

    <!-- script
    ================================================== -->
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/pace.min.js' %}"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>
<body id="top">

   <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="/"><img src=" {% static 'images/logo.svg' %}" alt="Homepage"></a>
        </div>

        <nav class="header-nav-wrap">
          <ul class="header-nav">
              <li class="current"><a class="smoothscroll"  href="//#home" title="home">Home</a></li>
              <li><a class="smoothscroll"  href="#about" title="//#about">About</a></li>
              <li><a class="smoothscroll"  href="#works" title="//#works">Works</a></li>
              <li><a class="smoothscroll"  href="#blog" title="//#blog">Blog</a></li>
              <li><a class="smoothscroll"  href="#contact" title="//#contact">Contact</a></li>
          </ul>
      </nav>

        <a class="header-menu-toggle" href="#0"><span>Menu</span></a>

    </header> <!-- end s-header -->
  <section class="page-header page-hero" style="background-image:url({{ blog.thumbnail.url }})">

          <div class="row page-header__content">
              <article class="col-full">
                
                  <div class="page-header__info">
                      <div class="page-header__cat">
                          <a href="{% url 'detail' blogs.last.id %}">{{ blogs.last.category }}</a>
                      </div>
                      <div class="page-header__date">
                          {{ blogs.last.pub_date_hooman }}
                      </div>
                  </div>
                  
                  <h1 class="page-header__title">
                      <a href="{% url 'detail' blogs.last.id %}" title="">
                          {{ blogs.last.title }}
                      </a>
                  </h1>
                  <p>{{ blogs.last.meta }}.</p>
                  <p>
                      <a href="{% url 'detail' blogs.last.id %}" class="btn btn--stroke page-header__btn">Read More</a>
                  </p>

              </article>

          </div>

    </section> <!-- blog
    ================================================== -->
    <section class="blog-content-wrap">

        <div class="row blog-content">
            <div class="col-full">

                <div class="blog-list block-1-2 block-tab-full">
                {% for blog in blogs.all %}
                    <article class="col-block">
                        
                        <div class="blog-date">
                            <a href="blog-single.html">{{ blog.pub_date_hooman }}</a>
                        </div>  
                        
                        <h2 class="h01"><a href="blog-single.html">{{ blog.title }}</a></h2>
                        <p>
                        {{ blog.summary }}
                        </p>

                        <div class="blog-cat">
                            <a href="blog.html">{{ blog.meta }}</a>
                        </div>

                    </article>
                {% endfor %}
                </div> <!-- end blog-list -->

            </div> <!-- end col-full -->
        </div> <!-- end blog-content -->
<!-- Blog post context here -->
        <!-- Blog pagination requires a fix 
        <div class="pagination">
            <span class="step-links">
                {% if blogs.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ blogs.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}.
                </span>

                {% if blogs.has_next %}
                    <a href="?page={{ blogs.next_page_number }}">next</a>
                    <a href="?page={{ blogs.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>-->
        <div class="row blog-entries-nav">
            <div class="col-full">
                <a href="#0" class="btn btn--stroke">
                    <i class="im im-arrow-left"></i>
                    Prev
                </a>
                <a href="#0" class="btn btn--stroke">
                    Next
                    <i class="im im-arrow-right"></i>
                </a>
            </div>
        </div>

    </section>
     <!-- end blog-content-wrap -->


    <!-- footer
    ================================================== -->
    <footer>
        <div class="row">
            <div class="col-full">

                <div class="footer-logo">
                    <a class="footer-site-logo" href="#0"><img src="{% static 'images/logo.svg' %}" alt="Homepage"></a>
                </div>

                <ul class="footer-social">
                    <li>
                        <a href="https://www.facebook.com/djangoengineer"><i class="im im-facebook" aria-hidden="true"></i><span>Facebook</span></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/Ihackthings"><i class="im im-twitter" aria-hidden="true"></i><span>Twiiter</span></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/alexandrv2/"><i class="im im-instagram" aria-hidden="true"></i><span>Instagram</span></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/himanshu-patel-8a21959/"><i class="im im-linkedin" aria-hidden="true"></i><span>LinkedIn</span></a>
                    </li>
                    <li>
                        <a href="https://www.github.com/thdesignable/"><i class="im im-github" aria-hidden="true"></i><span>Github</span></a>
                    </li>
                </ul>
                    
            </div>
        </div>

        <div class="row footer-bottom">

            <div class="col-twelve">
                <div class="copyright">
                    <span>© Copyright Hola 2017</span> 
                    <span>Design by <a href="https://www.styleshout.com/">styleshout</a></span> 
                </div>

                <div class="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"><i class="im im-arrow-up" aria-hidden="true"></i></a>
                </div>
            </div>

        </div> <!-- end footer-bottom -->

    </footer> <!-- end footer -->


    <div id="preloader"> 
        <div id="loader"></div>
    </div>


    <!-- Java Script
    ================================================== -->
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>